/* #mySketch {
    width: 800px;
    height: 250px;
} */

img{
    width: 100%;
    height: auto;
    max-width: 800px;
    justify-content: center;
}

body{
    background-color: rgb(255, 246, 234);
    background-image: url(images/paper.png);
    position: relative;
    align-content: center;
    padding: 10vw;
    justify-content: center;
    max-width: 1200px;
}

header{
    padding-bottom: 1.6em;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: #743DBE;
}

ul li {
    font-family: 'Public Sans', sans-serif;
}

ul li a{
    color: white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 2em;
    justify-content: space-evenly;
    max-width: 1000px;
}

.flex-item {
    background: rgb(255,117,181);
    background: linear-gradient(0deg, rgba(255,117,181,1) 0%, rgba(253,104,106,1) 100%);
    color: #FFF7F4;
    width: 200px;
    height: 300px;
    margin: 1em;
    margin-left: 0em;
    padding-left: 1.3em;
    padding-bottom: 1.3em;
}

.flex-item a{
    line-height: 1.5em;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
  }

footer {
    text-align: center;
    background: rgb(255,117,181);
background: linear-gradient(0deg, rgba(255,117,181,1) 0%, rgba(253,104,106,1) 100%);
    color: #FFF7F4;
    display: block;
    padding: 1em;
}

footer a{
    color: #743DBE;
}

@media only screen and (max-width: 800px) {
    .flex-container{
        flex-direction: column;
        justify-content: space-around;
    }
  }